.App {
  background-color: #e5d3b3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.border1 {
  border: solid 3px rgb(89, 88, 88);
  height: 640px;
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./clock-pattern.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  border-radius: 50%;
}

.border2 {
  border: solid 3px rgb(89, 88, 88);
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5d3b3;
  border-radius: 50%;
  position: relative;
}

.middle-point1, .middle-point2 {
  height: 4px;
  width: 4px;
  border: 7px solid rgb(89, 88, 88);
  position: absolute;
  border-radius: 50%;
}

.middle-point1 {
  animation: arms-spin infinite 12s linear;
}

.middle-point2 {
  animation: arms-spin infinite 3600s linear;
}

.long-arm {
  border-top: 4px solid gray;
  width: 270px;
  transform: translateX(calc(50% - 130px)) translateY(calc(50% - 2px));
}

.short-arm {
  border-top: 4px solid rgb(89, 88, 88);
  z-index: -100;
  width: 180px;
  transform: translateX(calc(50% - 90px)) translateY(calc(50% - 2px));
}

@keyframes arms-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
